<% include ../partials/header.ejs %>

<div class="col-sm-6 col-sm-offset-3">
  <h1>Log in!</h1>
  <form class="form" method="post" action="/auth/login">
    <p><input type="email" class="form-control" placeholder="Enter your email" name="email"></p>
    <p><input type="password" class="form-control" placeholder="Choose a password" name="password"></p>
    <fieldset>
      <p><input type="submit" value="Log in" class="btn btn-info form-button"> or
      <a href="/auth/login/facebook" class="btn btn-primary form-button"><i class="fa fa-facebook"></i> | Log in with Facebook</a></p>
    </fieldset>
  </form>
</div>

<% include ../partials/footer.ejs %>