<% include ../partials/header.ejs %>

<div class="col-sm-8 col-sm-offset-2">
  <h1>Log in!</h1>
  <form class="form" method="post" action="/auth/login">
    <input type="text" class="form-control" placeholder="Enter your email" name="email">
    <input type="password" class="form-control" placeholder="Choose a password" name="password">
    <input type="submit" value="Log in" class="btn btn-info">
    <a href="/auth/login/facebook" class="btn btn-primary">Log in with <i class="fa fa-facebook"></i></a>

  </form>
</div>

<% include ../partials/footer.ejs %>