<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bobtail Method app</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/script.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bobtail Method app</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <% if (typeof loggedInUser != 'undefined' && loggedInUser.id == 1) { %>
          <li><a href="/users" class="btn btn-warning">All Users</a></li>
          <li><a href="/compositions" class="btn btn-warning">All Compositions</a></li>
        <% } %>

        <% if (typeof loggedInUser != 'undefined' && loggedInUser) { %>
          <li><a href="/users/compositions/<%= loggedInUser.id %>">My Compositions</a></li>
          <li><a href="/users/friends/<%= loggedInUser.id %>">My Friends</a></li>
        <% } else { %>
        <% } %>
        <li><a href="/compositions/new">New Composition</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">Get Started</a></li>

        <% if (typeof loggedInUser != 'undefined' && loggedInUser) { %>

          <li><a href="/users/<%= loggedInUser.id %>" class="btn btn-info"><i class="glyphicon glyphicon-user"></i> <%= typeof loggedInUser.name === 'string' ? loggedInUser.name : 'Unknown' %></a></li>
          <li><a href="/auth/logout" class="btn">Log out</a></li>
        <% } else { %>
          <li><a href="/auth/login" class="btn"><i class="glyphicon glyphicon-user"></i> Log in</a></li>
          <li><a href="/auth/signup" class="btn btn-success">Sign up</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <% include ./alerts %>
      </div>