<div class="col-sm-2">
  <form id="composition-form" class="form" action="/compositions" method="post">
  <input type="hidden" id="composition-title-hidden" name="composition-title" value="<%= composition.title != null ? composition.title : ''%>">
    <input type="hidden" class="form-control composition-string" name="composition-string">

    <% if (composition.status != "show" && loggedInUser) { %>
      <input type="hidden" class="form-control" name="button-status" value="publish">
      <button class="btn btn-primary">Publish!</button>
    <% } %>

    <% if (composition.status == "show") { %>
      <input type="hidden" class="form-control" name="button-status" value="copy">
      <button class="btn btn-primary">New from copy</button>
    <% } %>
  </form>

  <form id="envelope-form" class="form" action="/compositions/mail" method="post">
    <input class="composition-string" type="hidden" class="form-control" name="composition-string">
    <% if (typeof loggedInUser != 'undefined' && loggedInUser) { %>
      <input id="composition-email" type="hidden" class="form-control" name="composition-email" value="<%= loggedInUser.email %>">
    <% } %>

  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i></button>

  </form>
    <button class="playback-button btn btn-primary play"><i class="glyphicon glyphicon-play"></i></button>
</div>