<div id="notation" class="abc"></div>
<script type="text/javascript">
  var string = '%%staffwidth 500\n%%editable false\n%%add_classes true\nX:1\nM: 6/8\nL: 1/8\nK: Emin\n"C" \^A,2B z3|"A\u266d" =e2_E GE2|"F\u266fm" F^FG A3|]\n';
  ABCJS.renderAbc('notation', string);
</script>

<!-- about abc notation:

X: is internal reference number
M: is the meter
L: is the base note duration, C2 is twice the base note duration
K: is the key

"C" is the chord symbol, use C, Cm, Caug, Cdim only
C, to B, is C3 to B3
C to B is C4 to B4
c to b is C5 to B5
^C is C-shart, =C is C-natural, _C is C-flat

| is a barline
|] is the end barline

for more, consult http://abcnotation.com/wiki/abc:standard:v2.1 -->