<script>ABCJS.plugin.render_options = {staffwidth:500, paddingtop:0, paddingleft:0, paddingright:0, paddingbottom:0, add_classes:true};</script>

<div class="abc">
X:1
M:6/8
L:1/8
K:D
"C" ^A,2B z3|"Aaug" =e2_E GE2|"F" F^FG A3|]
</div>

<!-- about abc notation:

X: is internal reference number
M: is the meter
L: is the base note duration, C2 is twice the base note duration
K: is the key

"C" is the chord symbol, use C, Cm, Caug, Cdim only
C, to B, is C3 to B3
C to B is C4 to B4
c to b is C5 to B5
^C is C-shart, =C is C-natural, _C is C-flat

| is a barline
|] is the end barline

for more, consult http://abcnotation.com/wiki/abc:standard:v2.1 -->