.chord-select {
  width: 219px;
  float: left;
}

.meter-symbol-space {
  width: 40px;
  display:inline-block;
  float: left;
}

.meter-symbol {
  width: 30px;
  display:inline-block;
  text-align: center;
}

.chord-symbol {
  width: 40px;
  display:inline-block;
}

.chord-symbol.left {
  text-align: right;
}

.chord-symbol.right {
  text-align: left;
}

.cell {
  height: 16px;
  width: 30px;
  font-size: 8px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 16px;
}

.cell-odd-white {
  background-color: rgb(225, 225, 225);
  color: black;
}

.cell-even-white {
  background-color: rgb(200, 200, 200);
  color: black;
}

.cell-odd-black {
  background-color: rgb(100, 100, 100);
  color: white;
}

.cell-even-black {
  background-color: rgb(75, 75, 75);
  color: white;
}

.cell.active {
  background-color: #0c0;
  color: white;
}

.avatar {
  display: inline-block;
  float: left;
}

.avatar-image {
  border-radius: 16px;
}

.test {
  background-color: red;
}