.navbar-default {
  background-color: #0d0d12;
  border-color: #5d676f;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ac9fcc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ac9fcc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0d0d12;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ac9fcc;
  background-color: #5d676f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0d0d12;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ac9fcc;
  background-color: #5d676f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ac9fcc;
  background-color: #5d676f;
}
.navbar-default .navbar-toggle {
  border-color: #5d676f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5d676f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ac9fcc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ac9fcc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ac9fcc;
    background-color: #5d676f;
  }
}

body {
  background-color: #F0EAD6;
  padding-top: 70px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

ul {
  font-family: 'Open Sans', sans-serif;
}

ol {
  font-family: 'Open Sans', sans-serif;
}

table {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Playfair Display', serif;
}

.btn {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

.chord-select {
  width: 219px;
  float: left;
}

.meter-symbol-space {
  width: 40px;
  display:inline-block;
  float: left;
}

.meter-symbol {
  width: 30px;
  display:inline-block;
  text-align: center;
}

.chord-symbol {
  width: 40px;
  display:inline-block;
}

.chord-symbol.left {
  text-align: right;
}

.chord-symbol.right {
  text-align: left;
}

.cell {
  height: 16px;
  width: 30px;
  font-size: 8px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 16px;
}

.cell-odd-white {
  background-color: rgb(225, 225, 225);
  color: black;
}

.cell-even-white {
  background-color: rgb(200, 200, 200);
  color: black;
}

.cell-odd-black {
  background-color: rgb(100, 100, 100);
  color: white;
}

.cell-even-black {
  background-color: rgb(75, 75, 75);
  color: white;
}

.cell.active {
  background-color: #0c0;
  color: white;
}

.avatar {
  display: inline-block;
  float: left;
}

.avatar-image {
  border-radius: 16px;
}

.test {
  background-color: red;
}

footer {
  color: #aaa;
  text-align: center;
  position: relative;
  margin-top: 50px;
  height: 50px;
  clear: both;
}


.abc {
  color: brown;
  width: 400px;
  height: 125px;
}