<% include ../partials/header %>

  <div class="col-sm-6 col-sm-offset-3">
    <h1>About...</h1>
    <h2>...Bobtail Method</h2>
    <p>
      Most songs today are written by layering melodies atop a looped harmonic progression. There's nothing wrong with this approach. However:
    </p>

    <ul>
      <li>It's awfully commonplace.</li>
      <li>Melodies can sound arbitrary, or conceived as an afterthought.</li>
      <li>The classics of the past obviously <em>weren't</em> written this way.</li>
    </ul>

    <p>
      Bobtail Method teaches today's aspiring songwriters to write songs the classic way. That is to say, melody and harmony are written <em>simultaneously</em>, each informing the other in equal measures.
    </p>

    <h2>...Bennett Lin</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nemo assumenda, est, ipsum maiores id voluptate autem mollitia cumque inventore a amet, asperiores aspernatur laudantium voluptatem dolor aperiam perspiciatis eius.</p>

    <a href="https://www.facebook.com/bobtail" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i></a>
    <a href="https://github.com/bennettslin" class="btn btn-lg btn-primary"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/bennettslin" class="btn btn-lg btn-primary"><i class="fa fa-linkedin"></i></a>

  </div>

<% include ../partials/footer %>