<% include ../partials/header %>

  <div class="col-sm-6 col-sm-offset-3">
    <h1>Get Started with Bobtail Method</h1>

    <p>
      We start with a three-bar staff in 6/8 meter. Across the first barline, the harmony informs the melody, while across the second barline, the melody informs the harmony.
    </p>

    <ol>
      <li>Pick chords for the first two bars.</li>
      <li>Write a melody underneath those chords.</li>
      <li>Extend the melody into the third bar.</li>
      <li>Choose a chord for the third bar.</li>
      <li>Revise, polish, and finish.</li>
    </ol>

    <p>That's it! You now have thematic material by which to flesh out your composition!</p>
  </div>

<% include ../partials/footer %>