<% include ../partials/header %>

  <div class="col-sm-8 col-sm-offset-2">
    <h1><%= composition.title != null && composition.title.length > 0 ? composition.title : "Coded composition" %></h1>
    <% include ../partials/staff_show %>
    <% include ../partials/grid %>
  </div>
  <div class="col-sm-2">
    <% include ../partials/sidebar %>
  </div>

<% include ../partials/footer %>