<% include ../partials/header %>


  <div class="col-sm-8 col-sm-offset-2">
    <h1>Coded composition</h1>
    <% include ../partials/staff %>
    <% include ../partials/grid %>
  </div>
  <div class="col-sm-2">
    <% include ../partials/sidebar %>
  </div>

<% include ../partials/footer %>