<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <form id="composition-form" class="form" action="/compositions" method="POST">
        <legend>New composition</legend>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control" name="harmony" placeholder="Input harmony">
          <input type="text" class="form-control" name="melody" placeholder="Input melody">
        </div>
        <% if (typeof loggedInUser != 'undefined' && loggedInUser) { %>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        <% } %>
      </form>

        <a id="envelope-button" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>

    </div>
  </div>
</div>

<% include ../partials/footer %>